/* ----- TEMPORARY CSS FILE FOR THE TEMPORARY WEBSITE -> DELETE WHEN DEV IS FINISHED ----- */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#background_img {
    width: 100%;
    height: 100%;
    background-image: url(/static/img/background/18_dark_1900_1328_80p.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#footer {
    position: fixed;
    bottom: 10px;
    color: white;
    font-family: Arial;
}
