{% load staticfiles  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intellineers GmbH &amp; Co. KG</title>
    <link href="{% static 'css/pre.css' %}" rel="stylesheet" />
</head>
<body>
    <div id="background_img">
        <div id="wrapper" style="width:100%; text-align:center">
            <a href="{% url "intermediateView" %}"><img id="logo" src="{% static 'img/logo_white.png' %}" /></a>
        </div>

        <div id="footer" style="width:100%; text-align:center">
            Intellineers GmbH &amp; Co. KG - Erlenkamp 22 - 22087 Hamburg, Germany - +49 40 74393350 - info@intellineers.com - Amtsgericht Hamburg: HRA 119624
        </div>
    </div>
</body>
</html>
