html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* --- GENERAL --- */

.a_cursor:hover {
    cursor:pointer;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

@media (max-width: 767px) {
    .anchor {
        top: -50px;
    }
}

@media (min-width: 768px) {
    .anchor {
        top: -91px;
    }
}

/* --- MENUBAR --- */

/* Height: Menubar Small: 51px */
/* Height: Menubar Big: 92px */

@media (max-width: 767px) {
    a.navbar-brand > img {
        height: 31px;
    }

    a.navbar-brand {
        padding-top: 10px;
    }

    .menuitem {
        text-align: right;
    }
}

nav.navbar {
    background-color: #010F30;
}

.navbar-header > button {
    border: 0px;
}

.navbar-header > button > span.icon-bar-blue {
    background-color: white;
    height: 3px;
}

.navbar-nav > li > a.menuitem {
    line-height: 62px;
}

.navbar-nav > li > a.menuitem:hover, .navbar-nav > li > a.menuitem:focus {
    background-color: rgb(15,124,204);
}

/* --- HEADER --- */

#header {
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    #header {
        margin-top: 41px;
    }
}

@media (min-width: 768px) {
    #header {
        margin-top: 92px;
    }
}

/* --- SERVICES --- */

@media (max-width: 991px) {
    #service_container > div {
        padding-bottom: 50px;
    }
}

/* --- TEAM --- */

@media (max-width: 991px) {
    #team_container > div {
        padding-bottom: 50px;
    }
}

/* --- CONTACT --- */

@media (max-width: 991px) {
    img.sm_logo {
        width: 34px;
        height: 34px;
    }
}

@media (min-width: 992px) {
    img.sm_logo {
        width: 48px;
        height: 48px;

    }
}
/* --- FOOTER --- */

#bottombar {
    background-color: rgb(15,124,204);
}

@media (max-width: 991px) {
    #bottombar {
        height: 80px;
    }
}

@media (min-width: 992px) {
    #bottombar {
        height: 145px;
    }
}

.front-row {
    margin: 20px 0 50px 0;
}
